<!doctype html>
<html ng-app="mergeAndHack">
	<head>
		<meta charset="utf-8">
		<title>Mergers &amp; Haquisitions</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width">
		<link rel="stylesheet" href="/app.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	</head>
	<body ng-controller="GameController">

		<div ng-if="game.board.state.current === game.board.state.GAME_INFO" class="getting-started">
			<h1><i class="fa fa-arrow-right"></i><i class="fa fa-arrow-left"></i> Mergers &amp; <i class="fa fa-download"></i> Hacquisitions</h1>
			<section class="game-details">
				<section class="about-game">
					<h2>It's all come to this...</h2>
					<p>
						In the not so distant future, web security is out of control. Law makers have absolved themselves of the responsibility of policing cyber attacks. Corporations must protect their own assets or face the price.
					</p>
					<h4>This is the age of Mergers and Hacquisitions.</h4>
					<p>
					You haves been appointed CEO of one of the last remaining mega corporations. You have 2 years to prove your worth to the investors.
					<br /><br />Good luck.
					</p>
				</section>

				<section class="how-to">
					<h2>Your Objective</h2>

					<section class="objective">
						<p>Become the most highly valued mega corporation in the world through balancing product innovation, security and espionage.</p>
						<p>Acquire new subsidiaries by merging for cash or take your chances on hacking and stealing from other corporations instead.</p>
					</section>

					<section class="rules-and-explanation">
						<h4 class="rules">During your turn:</h4>
						<ol class="rules-list">
							<li>Choose an event card for your corporation</li>
							<li>Decide to look at a potential merger or hack instead</li>
							<li>Either pay for a subsidiary or take chances on hacking for one</li>
							<li>Get rich or fired trying</li>
						</ol>
					</section>
				</section>
			</section>

			<section class="continue-game">
				<button class="button" ng-click="chooseCorporation()">
					Get Started
				</button>
			</section>
		</div>

		<div class="chooseCorporation" ng-if="game.board.state.current === game.board.state.CHOOSE_CORP">
			<h1>
				Which Corporation will you play as?
			</h1>

			<section class="corporations">
				<div class="corporation" ng-repeat="corp in game.board.players">
					<h4 class="corp-name">{{ corp.name | prettyName}}</h4>
					<i class="fa fa-{{corp.icon}} fa-3x"></i>
					<p>{{ corp.description }}</p>

					<h4>Starting Cash: ${{corp.cash}}M</h4>
					<h4>Stats</h4>
					<ul>
						<li ng-repeat="(stat, value) in corp.totalStats">
							{{ stat }} : <strong>{{ value }}</strong>
						</li>
					</ul>

					<button class="button" ng-click="setPlayer(corp)">Choose</button>
				</div>
			</section>
		</div>

		<div class="info-box">
			<h3>Game Info</h3>
			Current player: {{game.board.players[game.board.turn].name}}
			<br />
			Current State: {{game.board.state.toString()}}
			<br />
			Current Month: {{game.board.monthsPassed}}
		</div>

		<div class="mega-corporation player-{{$index + 1}}" ng-repeat="corp in game.board.players">
			<i class="fa fa-{{corp.icon}} fa-3x"></i>
			<h3>{{corp.name | prettyName}}</h3>
			<dl class="corp-stats">
				<dt><i class="fa fa-money fa-fw"></i></dt>
				<dd>${{corp.cash}}M</dd>
				<dd>
					<dl>
						<dt><i class="fa fa-bar-chart fa-fw"></i></dt>
						<dd>{{corp.totalStats.product}}</dd>
						<dt><i class="fa fa-shield fa-fw"></i></dt>
						<dd>{{corp.totalStats.security}}</dd>
						<dt><i class="fa fa-user-secret fa-fw"></i></dt>
						<dd>{{corp.totalStats.espionage}}</dd>
					</dl>
				</dd>
			</dl>
			<h5>Subsidiaries</h5>
			<ul class="subsidiaries">
				<li class="subsidiary" ng-repeat="subsidiary in corp.subsidiaries">
					<i class="fa fa-{{subsidiary.icon}} fa-2x"></i>
					<div class="subsidiary-info">
						<h4>{{subsidiary.name | prettyName}}</h4>
						<span>Value: {{subsidiary.value | prettyMoney}}</span>
						<p>{{subsidiary.description}}</p>
					</div>
				</li>
			</ul>
		</div>

		<div class="event-card-piles">
			<div class="card-group" ng-repeat="cardGroup in game.board.cardGroups">
				<div class="card flipped-{{card.isFlipped}} retained-{{card.isRetained}} visible-{{card.isVisible}}" ng-repeat="card in cardGroup.allCards">
					<div class="front face" ng-click="selectEventCard($parent.$index)">
						<i class="fa fa-{{card.icon}} fa-3x"></i>
						<h5>{{card.name | prettyName}}</h5>
						<p class="event-description">{{card.description}}</p>
					</div>
					<div class="back face">
						<i class="fa fa-{{cardGroup.icon}}"></i>
						<h5>{{cardGroup.name}}</h5>
					</div>
				</div>
			</div>
		</div>

		<div class="merge-or-hack modal" ng-if="game.board.state.current === game.board.state.TURN_DECIDING_MERGE_OR_HACK">
			<div class="content-contain">
				<h3>Merge or hack?</h3>
				<div class="buttons-contain">
					<button class="modal-button" ng-click="chooseMerge()">Merge</button>
					<button class="modal-button" ng-click="chooseHack()">Hack</button>
				</div>
			</div>
		</div>

		<div class="merger-option modal" ng-if="game.board.state.current === game.board.state.TURN_MERGING">
			<div class="content-contain">
				<h3>Confirm merger</h3>
				<div class="subsidiary-option" ng-repeat="subsidiary in game.board.innovationPool.inPlayStack">
					<i class="fa fa-{{subsidiary.icon}}"></i>
					<div class="subsidiary-info">
						<h4>{{subsidiary.name}}</h4>
						<h4>Cost: {{subsidiary.value | prettyMoney}}</h4>
						<p>{{subsidiary.description}}</p>
					</div>
					<div class="buttons-contain" ng-if="subsidiary.value <= game.board.getCurrentPlayer().cash">
						<button class="modal-button" ng-click="confirmMerger(true)">YES</button>
						<button class="modal-button" ng-click="confirmMerger(false)">NOPE</button>
					</div>
					<div class="buttons-contain" ng-if="subsidiary.value > game.board.getCurrentPlayer().cash">
						<p>Unfortunately this company is out of your budget</p>
						<button class="modal-button" ng-click="confirmMerger(false)">DAMN</button>
					</div>
				</div>
			</div>
		</div>

		<div class="hack-option modal" ng-if="game.board.state.current === game.board.state.TURN_HACKING_SELECT">
			<div class="content-contain">
				<h3>Who should we hack?</h3>
				<div class="buttons-contain">
					<button class="modal-button hackable-corporation" ng-if="corp !== game.board.getCurrentPlayer()" ng-repeat="corp in game.board.players" ng-click="confirmHack(corp)">{{corp.name}}</button>
				</div>
			</div>
		</div>

		<div class="hack-puzzle modal" ng-if="game.board.state.current === game.board.state.TURN_HACKING">
			<div class="content-contain">
				<h3>Hack your opponent</h3>
				<p>Get 3 success nodes in a row to succeed</p>
				<dl>
					<dt>Probability of success</dt>
					<dd>{{(9 - game.board.hackPuzzle.probability) / 9 | prettyPercent}}</dd>
					<dt>Tries remaining</dt>
					<dd>{{game.board.hackPuzzle.totalTurns}}</dd>
				</dl>
				<div class="puzzle-container">
					<div class="puzzle-row" ng-repeat="row in game.board.hackPuzzle.cells_grid">
						<div class="puzzle-cell" ng-repeat="cell in row">
							<button ng-if="!cell.isRevealed" ng-click="revealPuzzleCell(cell.x, cell.y)">?</button>
							<span class="revealed-cell" ng-class="{'badCell': !cell.isSafe }" ng-if="cell.isRevealed">{{cell.value}}</span>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="turn-results modal" ng-if="game.board.state.current === game.board.state.TURN_RESULT">
			<div class="content-contain">
				<h3>Results:</h3>
				<ul>
					<li class="result-message" ng-repeat="message in game.board.turnRecap">{{ message }}</li>
				</ul>
				<div class="buttons-contain">
					<button class="button" ng-click="confirmResults()">OK</button>
				</div>
			</div>
		</div>

		<div class="game-over" ng-if="game.board.state.current === game.board.state.GAME_OVER">
			<h1>Game Over</h1>
			<section class="game-over-two-years" ng-if="game.board.endGameResult === 'two_year'">
				<h3>{{ game.board.endGameResult.winCondition }}</h3>

				<h2>{{ game.board.endGameResult.winner.name }} Won!</h2>

				<p>
					{{ game.board.endGameResult.options[0].details }}
				</p>
			</section>

			<section class="game-over-bankrupt" ng-if="game.board.endGameResult.outcome === 'bankrupt'">
				<h3>{{ game.board.endGameResult.winCondition }}</h3>

				<h2>{{ game.board.endGameResult.winner.name }} Won!</h2>
			</section>
		</div>
		<script src="/app.js"></script>
	</body>
</html>
