<!doctype html>
<html ng-app="mergeAndHack">
	<head>
		<meta charset="utf-8">
		<title>Game Jam Game</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width">
		<link rel="stylesheet" href="/app.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	</head>
	<body ng-controller="GameController">
		<div class="info-box">
			<h3>Game Info</h3>
			Current player: {{game.board.players[game.board.turn].name}}
			<br />
			Current State: {{game.board.state.toString()}}
		</div>

		<div class="mega-corporation player-{{$index + 1}}" ng-repeat="corp in game.board.players">
			{{corp.name}}
			<dl>
				<dt>Cash</dt>
				<dd>{{corp.cash}}</dd>
				<dt>Stats</dt>
				<dd>
					<dl>
						<dt>Product</dt>
						<dd>{{corp.stats.product}}</dd>
						<dt>Security</dt>
						<dd>{{corp.stats.security}}</dd>
						<dt>Espionage</dt>
						<dd>{{corp.stats.espionage}}</dd>
					</dl>
				</dd>
				<dt>Subsidiaries</dt>
				<dd>
					<ul>
						<li ng-repeat="subsidiary in corp.subsidiaries">{{subsidiary.name}}</li>
					</ul>
				</dd>
				<dt>Events</dt>
				<dd>
					<ul>
						<li ng-repeat="event in corp.events">{{event.name}}</li>
					</ul>
				</dd>
			</dl>
		</div>

		<div class="event-card-piles">
			<div class="card-group" ng-repeat="cardGroup in game.board.cardGroups">

				<div class="card flipped-{{card.isFlipped}} retained-{{card.isRetained}} visible-{{card.isVisible}}" ng-repeat="card in cardGroup.allCards">
					<div class="front face">
						<span>{{card.name}}</span>
						<button ng-click="selectEventCard($parent.$index)">Select this card</button>
					</div>
					<div class="back face">
						<span>Back Face</span>
					</div>
				</div>

				<!--
				{{cardGroup.name}}
				<dl>
					<dt>Face Down Cards</dt>
					<dd>Count: {{cardGroup.newStack.length}}</dd>
					<dt>In Play Cards</dt>
					<dd>
						<div>Count: {{cardGroup.inPlayStack.length}}</div>
						<div>Name: {{cardGroup.inPlayStack[0].name}}</div>
					</dd>
					<dt>Discarded Cards</dt>
					<dd>Count: {{cardGroup.discardStack.length}}</dd>
				</dl>
				 -->
			</div>
		</div>

		<div class="merge-or-hack modal" ng-if="game.board.state.current === game.board.state.TURN_DECIDING_MERGE_OR_HACK">
			<h3>Merge or hack?</h3>
			<button ng-click="chooseMerge()">Merge</button>
			<button ng-click="chooseHack()">Hack</button>
		</div>

		<div class="merger-option modal" ng-if="game.board.state.current === game.board.state.TURN_MERGING">
			<h3>Confirm merger</h3>
			<div class="subsidiary-option">
				Subsidiary: {{game.board.innovationPool.inPlayStack[0].name}}
			</div>
			<button ng-click="confirmMerger(true)">YES</button>
			<button ng-click="confirmMerger(false)">NOPE</button>
		</div>

		<div class="hack-option modal" ng-if="game.board.state.current === game.board.state.TURN_HACKING_SELECT">
			<h3>Who should we hack?</h3>
			<button class="hackable-corporation" ng-repeat="corp in game.board.players" ng-click="confirmHack(corp)">{{corp.name}}</button>
		</div>

		<div class="hack-puzzle modal" ng-if="game.board.state.current === game.board.state.TURN_HACKING">
			<h3>Hack your opponent</h3>
			<div class="puzzle-row" ng-repeat="row in game.board.hackPuzzle.cells_grid">
				<div class="puzzle-cell" ng-repeat="cell in row">
					<button ng-if="!cell.isRevealed" ng-click="revealPuzzleCell(cell.x, cell.y)">?</button>
					<span ng-if="cell.isRevealed">{{cell.value}}</span>
				</div>
			</div>
		</div>

		<div class="turn-results modal" ng-if="game.board.state.current === game.board.state.TURN_RESULT">
			<h3>Results:</h3>
			<button ng-click="confirmResults()">OK</button>
		</div>
		<script src="/app.js"></script>
	</body>
</html>
